# Env Variables
# env = GDK_SCALE,2
# env = XCURSOR_SIZE,24
# env = HYPRCURSOR_SIZE,24

# gpu prio (Intel iGPU primary, NVIDIA dGPU secondary)
env = AQ_DRM_DEVICES,/dev/dri/card2:/dev/dri/card0

# backend support
env = XDG_SESSION_TYPE,wayland
env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_DESKTOP,Hyprland

# env = GBM_BACKEND,nvidia-drm

# env = __GLX_VENDOR_LIBRARY_NAME,nvidia
# env = LIBVA_DRIVER_NAME,nvidia

env = NVD_BACKEND,direct
env = ELECTRON_OZONE_PLATFORM_HINT,auto

env = HYPRSHOT_DIR,/home/adetola/Pictures/Screenshot

